@font-face {
  font-family: YekanBakh;

  font-style: normal;

  font-weight: 300;

  src: url("src/fonts/Yekan Bakh EN 03 Light.eot?v=970802");

  src: url("src/fonts/Yekan Bakh EN 03 Light.woff?v=970802") format("woff"), url("src/fonts/Yekan Bakh EN 03 Light.ttf?v=970802") format("truetype")
}

@font-face {
  font-family: YekanBakh;

  font-style: normal;

  font-weight: 400;

  src: url("src/fonts/Yekan Bakh EN 04 Regular.eot?v=970802");

  src: url("src/fonts/Yekan Bakh EN 04 Regular.woff?v=970802") format("woff"), url("src/fonts/Yekan Bakh EN 04 Regular.ttf?v=970802") format("truetype")
}

@font-face {
  font-family: YekanBakh;

  font-style: normal;

  font-weight: 500;

  src: url("src/fonts/Yekan Bakh EN 05 Medium.eot?v=970802");

  src: url("src/fonts/Yekan Bakh EN 05 Medium.woff?v=970802") format("woff"), url("src/fonts/Yekan Bakh EN 05 Medium.ttf?v=970802") format("truetype")
}

@font-face {
  font-family: YekanBakh;

  font-style: normal;

  font-weight: 600;

  src: url("src/fonts/Yekan Bakh EN 06 Bold.eot?v=970802");

  src: url("src/fonts/Yekan Bakh EN 06 Bold.woff?v=970802") format("woff"), url("src/fonts/Yekan Bakh EN 06 Bold.ttf?v=970802") format("truetype")
}

@font-face {
  font-family: YekanBakh;

  font-style: normal;

  font-weight: 700;

  src: url("src/fonts/Yekan Bakh EN 07 Heavy.eot?v=970802");

  src: url("src/fonts/Yekan Bakh EN 07 Heavy.woff?v=970802") format("woff"), url("src/fonts/Yekan Bakh EN 07 Heavy.ttf?v=970802") format("truetype")
}

body{
  direction: rtl;
}

input#search {
  width: 388px;
}

.hero-section::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0F1F4B;
  top: -350px;
  bottom: 30%;
  z-index: -1;
  transform: skewY(-10deg);
  border-bottom: 25px solid #EF2A82;
}

  /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font size in all browsers.
 */

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */


h1,
h2,
h3,
h4,
hr,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: YekanBakh; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
audio {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{
  appearance: none;
  background-color: #fff;
  border-color: #a0aec0;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3182ce;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #3182ce;
}

input::placeholder,textarea::placeholder{
  color: #a0aec0;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper{
  padding: 0;
}

::-webkit-date-and-time-value{
  min-height: 1.5em;
}

select{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23a0aec0' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  color-adjust: exact;
}

[multiple]{
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  color-adjust: unset;
}

[type='checkbox'],[type='radio']{
  appearance: none;
  padding: 0;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #3182ce;
  background-color: #fff;
  border-color: #a0aec0;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox']{
  border-radius: 0;
}

[type='radio']{
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3182ce;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked{
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus{
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus{
  border-color: transparent;
  background-color: currentColor;
}

[type='file']{
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus{
  outline: 1px auto -webkit-focus-ring-color;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

.space-y-1 > :not(template) ~ :not(template){
  --space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--space-y-reverse));
}

.space-y-3 > :not(template) ~ :not(template){
  --space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--space-y-reverse));
}

.space-y-4 > :not(template) ~ :not(template){
  --space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(1rem * var(--space-y-reverse));
}

.space-x-4 > :not(template) ~ :not(template){
  --space-x-reverse: 0;
  margin-right: calc(1rem * var(--space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--space-x-reverse)));
}

.space-x-6 > :not(template) ~ :not(template){
  --space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-8 > :not(template) ~ :not(template){
  --space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(2rem * var(--space-y-reverse));
}

.space-x-8 > :not(template) ~ :not(template){
  --space-x-reverse: 0;
  margin-right: calc(2rem * var(--space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--space-x-reverse)));
}

.divide-y-2 > :not(template) ~ :not(template){
  --divide-y-reverse: 0;
  border-top-width: calc(2px * calc(1 - var(--divide-y-reverse)));
  border-bottom-width: calc(2px * var(--divide-y-reverse));
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.appearance-none{
  appearance: none;
}

.bg-white{
  --bg-opacity: 1;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-pink{
  --bg-opacity: 1;
  background-color: #EF2A82;
  background-color: rgba(239, 42, 130, var(--bg-opacity));
}

.bg-indigo-lightest{
  --bg-opacity: 1;
  background-color: #D3D9E9;
  background-color: rgba(211, 217, 233, var(--bg-opacity));
}

.bg-indigo-dark{
  --bg-opacity: 1;
  background-color: #172755;
  background-color: rgba(23, 39, 85, var(--bg-opacity));
}

.bg-indigo-darkest{
  --bg-opacity: 1;
  background-color: #0F1F4B;
  background-color: rgba(15, 31, 75, var(--bg-opacity));
}

.bg-gray-light{
  --bg-opacity: 1;
  background-color: #F8F9FF;
  background-color: rgba(248, 249, 255, var(--bg-opacity));
}

.hover\:bg-white:hover{
  --bg-opacity: 1;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.hover\:bg-blue:hover{
  --bg-opacity: 1;
  background-color: #0088F0;
  background-color: rgba(0, 136, 240, var(--bg-opacity));
}

.hover\:bg-indigo-dark:hover{
  --bg-opacity: 1;
  background-color: #172755;
  background-color: rgba(23, 39, 85, var(--bg-opacity));
}

.hover\:bg-opacity-75:hover{
  --bg-opacity: 0.75;
}

.border-transparent{
  border-color: transparent;
}

.border-blue{
  --border-opacity: 1;
  border-color: #0088F0;
  border-color: rgba(0, 136, 240, var(--border-opacity));
}

.border-indigo-lightest{
  --border-opacity: 1;
  border-color: #D3D9E9;
  border-color: rgba(211, 217, 233, var(--border-opacity));
}

.border-indigo-light{
  --border-opacity: 1;
  border-color: #8794BA;
  border-color: rgba(135, 148, 186, var(--border-opacity));
}

.border-indigo-DEFAULT{
  --border-opacity: 1;
  border-color: #2A407C;
  border-color: rgba(42, 64, 124, var(--border-opacity));
}

.hover\:border-blue:hover{
  --border-opacity: 1;
  border-color: #0088F0;
  border-color: rgba(0, 136, 240, var(--border-opacity));
}

.hover\:border-indigo-light:hover{
  --border-opacity: 1;
  border-color: #8794BA;
  border-color: rgba(135, 148, 186, var(--border-opacity));
}

.focus\:border-indigo-DEFAULT:focus{
  --border-opacity: 1;
  border-color: #2A407C;
  border-color: rgba(42, 64, 124, var(--border-opacity));
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-full{
  border-radius: 9999px;
}

.border-solid{
  border-style: solid;
}

.border{
  border-width: 1px;
}

.border-t-2{
  border-top-width: 2px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-t{
  border-top-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.flow-root{
  display: flow-root;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-none{
  flex: none;
}

.flex-grow{
  flex-grow: 1;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.float-left{
  float: left;
}

.font-normal{
  font-weight: 400;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.font-bold{
  font-weight: 700;
}

.h-5{
  height: 1.25rem;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.h-10{
  height: 2.5rem;
}

.h-12{
  height: 3rem;
}

.h-20{
  height: 5rem;
}

.h-64{
  height: 16rem;
}

.h-screen{
  height: 100vh;
}

.text-sm{
  font-size: 0.875rem;
}

.text-base{
  font-size: 1rem;
}

.text-lg{
  font-size: 1.125rem;
}

.text-xl{
  font-size: 1.25rem;
}

.text-2xl{
  font-size: 1.5rem;
}

.text-3xl{
  font-size: 1.875rem;
}

.text-4xl{
  font-size: 2.25rem;
}

.leading-7{
  line-height: 1.75rem;
}

.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-5{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-12{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-12{
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-16{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.-my-2{
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mr-4{
  margin-right: 1rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mr-6{
  margin-right: 1.5rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.ml-6{
  margin-left: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-8{
  margin-left: 2rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-16{
  margin-top: 4rem;
}

.mr-auto{
  margin-right: auto;
}

.-mt-1{
  margin-top: -0.25rem;
}

.-mr-2{
  margin-right: -0.5rem;
}

.-mt-px{
  margin-top: -1px;
}

.-mb-px{
  margin-bottom: -1px;
}

.max-w-none{
  max-width: none;
}

.max-w-xl{
  max-width: 36rem;
}

.min-h-screen{
  min-height: 100vh;
}

.min-w-0{
  min-width: 0;
}

.object-cover{
  object-fit: cover;
}

.object-center{
  object-position: center;
}

.opacity-0{
  opacity: 0;
}

.opacity-100{
  opacity: 1;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.overflow-hidden{
  overflow: hidden;
}

.p-2{
  padding: 0.5rem;
}

.p-6{
  padding: 1.5rem;
}

.p-8{
  padding: 2rem;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.pr-1{
  padding-right: 0.25rem;
}

.pl-1{
  padding-left: 0.25rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pr-4{
  padding-right: 1rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pt-8{
  padding-top: 2rem;
}

.pr-10{
  padding-right: 2.5rem;
}

.pt-32{
  padding-top: 8rem;
}

.placeholder-indigo-light::placeholder{
  --placeholder-opacity: 1;
  color: #8794BA;
  color: rgba(135, 148, 186, var(--placeholder-opacity));
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-y-0{
  top: 0;
  bottom: 0;
}

.inset-x-0{
  right: 0;
  left: 0;
}

.top-0{
  top: 0;
}

.right-0{
  right: 0;
}
.w-150{
  width: 150px;
}

.bottom-0{
  bottom: 0;
}

.left-0{
  left: 0;
}

.shadow-sm{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow-md{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-white{
  --text-opacity: 1;
  color: #FFFFFF;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.text-black{
  --text-opacity: 1;
  color: #0F1F4B;
  color: rgba(15, 31, 75, var(--text-opacity));
}

.text-blue{
  --text-opacity: 1;
  color: #0088F0;
  color: rgba(0, 136, 240, var(--text-opacity));
}

.text-yellow{
  --text-opacity: 1;
  color: #fbbf24;
  color: rgba(251, 191, 36, var(--text-opacity));
}

.text-pink{
  --text-opacity: 1;
  color: #EF2A82;
  color: rgba(239, 42, 130, var(--text-opacity));
}

.text-indigo-lightest{
  --text-opacity: 1;
  color: #D3D9E9;
  color: rgba(211, 217, 233, var(--text-opacity));
}

.text-indigo-light{
  --text-opacity: 1;
  color: #8794BA;
  color: rgba(135, 148, 186, var(--text-opacity));
}

.text-indigo-dark{
  --text-opacity: 1;
  color: #172755;
  color: rgba(23, 39, 85, var(--text-opacity));
}

.text-indigo-darkest{
  --text-opacity: 1;
  color: #0F1F4B;
  color: rgba(15, 31, 75, var(--text-opacity));
}

.hover\:text-white:hover{
  --text-opacity: 1;
  color: #FFFFFF;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.hover\:text-blue:hover{
  --text-opacity: 1;
  color: #0088F0;
  color: rgba(0, 136, 240, var(--text-opacity));
}

.hover\:text-pink:hover{
  --text-opacity: 1;
  color: #EF2A82;
  color: rgba(239, 42, 130, var(--text-opacity));
}

.hover\:text-indigo-lightest:hover{
  --text-opacity: 1;
  color: #D3D9E9;
  color: rgba(211, 217, 233, var(--text-opacity));
}

.hover\:text-indigo-light:hover{
  --text-opacity: 1;
  color: #8794BA;
  color: rgba(135, 148, 186, var(--text-opacity));
}

.w-0{
  width: 0;
}

.w-2{
  width: 0.5rem;
}

.w-5{
  width: 1.25rem;
}

.w-6{
  width: 1.5rem;
}

.w-8{
  width: 2rem;
}

.w-10{
  width: 2.5rem;
}

.w-20{
  width: 5rem;
}

.w-auto{
  width: auto;
}

.w-3\/4{
  width: 75%;
}

.w-full{
  width: 100%;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.gap-10{
  grid-gap: 2.5rem;
  gap: 2.5rem;
}

.gap-20{
  grid-gap: 5rem;
  gap: 5rem;
}

.gap-y-6{
  grid-row-gap: 1.5rem;
  row-gap: 1.5rem;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-start-2{
  grid-column-start: 2;
}

.col-end-3{
  grid-column-end: 3;
}

.transform{
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}

.origin-top-right{
  transform-origin: top right;
}

.scale-95{
  --transform-scale-x: .95;
  --transform-scale-y: .95;
}

.scale-100{
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}

.transition{
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.duration-100{
  transition-duration: 100ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 640px){

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:grid{
    display: grid;
  }

  .sm\:hidden{
    display: none;
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .sm\:justify-between{
    justify-content: space-between;
  }

  .sm\:flex-shrink-0{
    flex-shrink: 0;
  }

  .sm\:order-first{
    order: -9999;
  }

  .sm\:h-10{
    height: 2.5rem;
  }

  .sm\:h-40{
    height: 10rem;
  }

  .sm\:text-sm{
    font-size: 0.875rem;
  }

  .sm\:text-4xl{
    font-size: 2.25rem;
  }

  .sm\:text-5xl{
    font-size: 3rem;
  }

  .sm\:m-0{
    margin: 0;
  }

  .sm\:mt-0{
    margin-top: 0;
  }

  .sm\:mb-3{
    margin-bottom: 0.75rem;
  }

  .sm\:ml-3{
    margin-left: 0.75rem;
  }

  .sm\:mt-4{
    margin-top: 1rem;
  }

  .sm\:ml-6{
    margin-left: 1.5rem;
  }

  .sm\:mr-auto{
    margin-right: auto;
  }

  .sm\:-mt-20{
    margin-top: -5rem;
  }

  .sm\:max-w-md{
    max-width: 28rem;
  }

  .sm\:p-8{
    padding: 2rem;
  }

  .sm\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:w-40{
    width: 10rem;
  }

  .sm\:w-5\/12{
    width: 41.666667%;
  }

  .sm\:gap-8{
    grid-gap: 2rem;
    gap: 2rem;
  }

  .sm\:gap-x-8{
    grid-column-gap: 2rem;
    column-gap: 2rem;
  }

  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:col-span-1{
    grid-column: span 1 / span 1;
  }

  .sm\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .sm\:col-start-1{
    grid-column-start: 1;
  }

  .sm\:row-span-2{
    grid-row: span 2 / span 2;
  }

  .sm\:row-start-1{
    grid-row-start: 1;
  }

  .sm\:transform{
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }

  .sm\:translate-x-1\/3{
    --transform-translate-x: 30%;
  }
}

@media (min-width: 768px){

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:flex-col{
    flex-direction: column;
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:mt-0{
    margin-top: 0;
  }

  .md\:-mt-px{
    margin-top: -1px;
  }

  .md\:pr-64{
    padding-right: 16rem;
  }

  .md\:fixed{
    position: fixed;
  }

  .md\:inset-y-0{
    top: 0;
    bottom: 0;
  }

  .md\:w-64{
    width: 16rem;
  }

  .md\:w-3\/5{
    width: 60%;
  }
}

@media (min-width: 1024px){

  .lg\:space-x-10 > :not(template) ~ :not(template){
    --space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--space-x-reverse)));
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:flex-col{
    flex-direction: column;
  }

  .lg\:flex-1{
    flex: 1 1 0%;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .lg\:w-2\/5{
    width: 40%;
  }

  .lg\:grid-cols-6{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1280px){

  .xl\:flex{
    display: flex;
  }

  .xl\:mx-24{
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .xl\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .xl\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

/* dropdown */
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#172755;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #D3D9E9;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
}
 /* banner slider */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #EF2A82;
  opacity: 50%;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #EF2A82;
  width: 30px;
  border-radius: 10px;
  opacity: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* topstock */

.rounded-md.bg-indigo-lightest.p-6.z-40.absolute {
	top: 45%;
	width: 76%;
	margin: auto;

}
.bg-image {
  
  filter: blur(1px);
  -webkit-filter: blur(1px);}